<div id="issue-section">
	<h2>Gun Control</h2>
	  <p>Gun politics is a controversial area of American politics that is primarily defined by the actions of two groups: gun control and gun rights activists. These groups often disagree on the interpretation of laws and court cases related to firearms as well as about the effects of gun control on crime and public safety.</p>
	  <p>Since the 1990s, debates regarding firearm availability and gun violence in the U.S. have been characterized by concerns about the right to bear arms, such as found in the Second Amendment to the U.S. Constitution, and the responsibility of the government to serve the needs of its citizens and to prevent crime and deaths.</p>
	  <p>Gun control supporters say that broad or unrestricted gun rights inhibit the government from fulfilling that responsibility. Gun rights supporters promote firearms for self-defense, hunting, sporting activities, and security against tyranny. Gun control advocates state that keeping guns out of the hands of criminals results in safer communities, while gun rights advocates state that firearm ownership by law-abiding citizens reduces crime.</p>
	  <br>

	<h2>Drugs</h2>
		<p>Modern US drug policy has still roots in the war on drugs started by president Richard Nixon in 1971. In the United States, illegal drugs fall into different categories and punishment for possession and dealing varies on amount and type.</p> 
		<p>An overarching effort to impose mandatory penalties for federal drug crimes took place in the 1980s. This caused many drug crimes that were common at the time to carry mandatory minimum sentences of 5 to 10 years in a federal prison.</p>
		<p>Punishment for marijuana possession is light in most states, but punishment for dealing and possession of hard drugs can be severe, and has contributed to the growth of the prison population.</p>
		<br>

	<h2>Abortion</h2>
	  <p>Abortion in the United States has been and remains one of the most controversial issues in United States culture and politics. Various anti-abortion laws have been on the statute books of each state since at least 1900. In 1973, abortion was prohibited entirely in 30 states and legal in limited circumstances (such as pregnancies resulting from rape or incest) in 20 other states. In that year, the Supreme Court in Roe v. Wade invalidated all of these laws, and set guidelines for the availability of abortion. Roe established that the right of privacy of a woman to obtain an abortion "must be considered against important state interests in regulation." Roe established a "trimester" (i.e., 12 week) threshold of state interest in the life of the fetus corresponding to its increasing "viability" (likelihood of survival outside the uterus) over the course of a pregnancy, such that states were prohibited from banning abortion early in pregnancy but allowed to impose increasing restrictions or outright bans later in pregnancy.</p>
	  <p>In the United States, the main protagonists in the abortion debate are most often labelled either as "pro-choice" or "pro-life", though shades of opinion exist, and most Americans are considered to be somewhere in the middle. In a Gallup.com survey of 1014 adults found that opinions on abortion in the United States remain nearly evenly split, with 46% of participants identifying as pro-life and 47% identifying as pro-choice. The poll results also indicated that Americans harbor a diverse and shifting set of opinions on the legal status of abortion in the US; the survey polled that only 28% of respondents believed abortion should be legal under any circumstances, and 48% of respondents believed that abortion should be legal under "most" or "only a few circumstances." Recent polling results also found that only 34% of Americans were satisfied with abortion laws in the United States.</p>
	  <br>

	<h2>Immigration</h2>
		<p>Immigration to the United States is a complex demographic phenomenon that has been a major source of population growth and cultural change throughout much of the history of the United States. The economic, social, and political aspects of immigration have caused controversy regarding ethnicity, economic benefits, jobs for non-immigrants, settlement patterns, impact on upward social mobility, crime, and voting behavior. On a per capita basis, the United States lets in fewer immigrants than half the countries in the OECD. Prior to 1965, policies such as the national origins formula limited immigration and naturalization opportunities for people from areas outside Western Europe.</p>
		<br>

	<h2>Civil Rights</h2>
		<p>Civil and political rights are a class of rights that protect individuals' freedom from infringement by governments, social organizations and private individuals, and which ensure one's ability to participate in the civil and political life of the society and state without discrimination or repression.</p>
		<p>Civil rights include the ensuring of peoples' physical and mental integrity, life and safety; protection from discrimination on grounds such as race, gender, national origin, colour, sexual orientation, ethnicity, religion, or disability; and individual rights such as privacy, the freedoms of thought and conscience, speech and expression, religion, the press, assembly and movement.</p>
		<br>
</div>