<h1>Democratic Candidates</h1>
	<ul><a href="/candidates/6">Hillary Clinton</a></ul>
	<ul><a href="/candidates/7">Bernie Sanders</a></ul>
	<ul><a href="/candidates/8">Martin O'Malley</a></ul>
	<ul><a href="/candidates/9">Jim Webb</a></ul>
	<ul><a href="/candidates/10">Lincoln Chafee</a></ul>

<h1>Republican Candidates</h1>
	<ul><a href="/candidates/1">Donald Trump</a></ul>
	<ul><a href="/candidates/2">Jeb Bush</a></ul>
	<ul><a href="/candidates/3">Ben Carson</a></ul>
	<ul><a href="/candidates/4">Marco Rubio</a></ul>
	<ul><a href="/candidates/5">Ted Cruz</a></ul>

