<!DOCTYPE html>
<html>
<head>
  <title>CampaignIssues2016</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<!-- nav bar -->
	<div id="nav-bar">
		<ul>
		  <li><a href="/">home</a></li>
		  <li><a href="/candidates">candidates</a></li>
		  <li><a href="/issues">issues</a></li>
	  </ul>
  </div>

  <div id="content">
    <%= yield %>
  </div>

</body>
</html>
